<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sample app</title>
		<!-- Assets must be piped to |asset -->
		{% stylesheets 'assets/css/*' filter='cssrewrite'  %}
    		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
		{% endstylesheets %}

	</head>
	<body>
		<div class="container">
			<header>
				<a href="{{"app/controllers/Home.index"|route()}}"><h1>Minibase Sample App</h1></a>
				<p>
				<!-- currentUser is from the auth plugin, it injects this var to every template. -->
				{% if currentUser %}
					Welcome {{currentUser.getUsername()}}.
					<a href="{{"Pkj/Minibase/Plugin/AuthPlugin/AuthController.logout"|route()}}">Logout</a>
					
					{% if currentUser.hasGroup("admin") %}
						| <a href="{{"app/controllers/Admin.index"|route()}}">Admin panel</a>
					{% endif %}
				{% else %}
					<a href="{{"Pkj/Minibase/Plugin/AuthPlugin/AuthController.login"|route()}}">Login</a> or 
					<a href="{{"Pkj/Minibase/Plugin/AuthPlugin/AuthController.register"|route()}}">Register</a>
					
				{% endif %}
				</p>
			</header>
			
			<!-- Custom flash message handler. -->
			{% if flash.success %}
				<div style="border: 1px solid black; padding: 10px; background: #A9F5A9; margin: 5px 0 5px;">
					{{flash.success}}
				</div>
			{% endif %}
			
			
			<!-- Twig block, now child templates can extend this one. -->
			{% block content %}{% endblock %}
		</div>
		
	</body>
</html>
